.justify {
    text-align: justify;
}

@media only screen and (max-width: 390px) {
    body {
        font-family: sans-serif;
        font-weight: 100;
        margin: 0;
        padding: 0;
    }

    header {
        height: 55vh;
        background-color: #2f2f2f;
        margin: 0 auto;
    }

    header img {
        position: relative;
        top: 10vh;
        left: 17%;
        max-height: 45vh;
        max-width: 65vw;
    }

    section p {
        line-height: 20px;
    }

    .main-section {
        margin: 50px 20px;
    }

    .main-section h1 {
        text-align: center;
        font-weight: 100;
    }

    .main-section ul {
        margin-top: 30px;
    }

    .main-section ul li {
        margin-bottom: 10px;
        line-height: 24px;
    }

    .main-section ul li::marker {
        content: "» ";
    }

    .image-section {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .image-section img {
        width: 100%;
        object-fit: cover;
    }
}

